@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "AvenirBook";
    src: font-url("./assets/fonts/Avenir-Book.woff2") format("woff2");
  }
  @font-face {
    font-family: "AvenirRoman";
    src: font-url("./assets/fonts/Avenir-Roman.woff2") format("woff2");
  }
  @font-face {
    font-family: "PromptExtraLight";
    src: font-url("./assets/fonts/Prompt-ExtraLight.woff2") format("woff2");
  }
  @font-face {
    font-family: "PromptLight";
    src: font-url("./assets/fonts/Prompt-Light.woff2") format("woff2");
  }
  @font-face {
    font-family: "PromptMedium";
    src: font-url("./assets/fonts/Prompt-Medium.woff2") format("woff2");
  }
}

@layer components {
  .section-text-heading {
    @apply font-bold text-2xl text-bluemine-100 uppercase pb-6;
  }
  .portfolio-section {
    @apply flex flex-col py-20 md:py-32 lg:py-40 xl:py-40 2xl:py-40;
  }
  .viewport-element-transition {
    @apply duration-300 ease-in-out -translate-y-10 opacity-0;
  } 
}

html {
  scroll-behavior: smooth;
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
