@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "AvenirBook";
    src: font-url("./assets/fonts/Avenir-Book.woff2") format("woff2");
  }
  @font-face {
    font-family: "AvenirRoman";
    src: font-url("./assets/fonts/Avenir-Roman.woff2") format("woff2");
  }
  @font-face {
    font-family: "PromptExtraLight";
    src: font-url("./assets/fonts/Prompt-ExtraLight.woff2") format("woff2");
  }
  @font-face {
    font-family: "PromptLight";
    src: font-url("./assets/fonts/Prompt-Light.woff2") format("woff2");
  }
  @font-face {
    font-family: "PromptMedium";
    src: font-url("./assets/fonts/Prompt-Medium.woff2") format("woff2");
  }
}

@layer components {
  .section-text-heading {
    @apply font-bold text-2xl text-bluemine-100 uppercase pb-6;
  }
  .portfolio-section,
  .intro-section {
    @apply flex flex-col mb-28 sm:mb-40 md:mb-60 lg:mb-80 xl:mb-96 2xl:mb-96;
  }
  .viewport-element-transition {
    @apply duration-300 ease-in-out -translate-y-10 opacity-0;
  }
  .hexagon-wrapper {
    @apply absolute rotate-29;
  }
  .hexagon-icon {
    @apply w-full h-full absolute flex items-center justify-center border-0 left-0 top-0;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  .hexagon-icon img {
    @apply max-w-3/5 max-h-3/5 -rotate-30;
  }
}

html {
  scroll-behavior: smooth;
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}